#linepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
#mainpage{
    display: flex;
    flex-direction: row;
   column-gap: 350px;
    justify-content: center;
    align-items: center;
}
#obtions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
} 
ul li a {
    text-decoration: none; 
    color: hsl(219, 9%, 45%); 
    font-family: 'Kumbh Sans-M';
    padding: 10px;
    border-bottom: 2px solid transparent; 
  }
  .nav-links{
    margin: 0;

  }
  ul li a.active-link {
    border-bottom: 2px solid hsl(26, 100%, 55%);
  }
#images{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}
#person{
    width: 40px;
    height: 40px;
}
.line {
    border-bottom: 2px solid hsl(0, 0%, 80%);
    margin-top: 5px;
    width:75%;
    margin-left: 180px;
}
#linepage{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
button{
    background-color: white;
    border: none;
    display: inline;
    cursor: pointer;
}
.menu-icon {
    display: none;
    cursor: pointer;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
}
.mobile-menu .close-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.close-icon{
    display: none;
}
.mobile-menu .close-icon img {
    width: 20px;
    height: 20px;
}
@media only screen and (max-width:375px){
  #root{
    overflow-x: hidden;
  }
  ul li a.active-link {
    border-bottom:none;
  }
    .menu-icon {
        display: block;
        margin-right: 10px;
    }
    .mobile-menu .close-icon {
        display: flex;
        
        margin-right: 250px;
        margin-top: 10px;
    }
    .mobile-menu li {
        margin: 20px ;
        margin-right: 200px;
    }
    ul li a{
        color:hsl(220, 13%, 13%) ;
    }
    .nav-links.mobile-menu {
        display: flex;
        justify-content: flex-start;
    }
    .line{
      display: none;
    }
    #mainpage{
        column-gap: 80px;
    }
    ul{
        display: none;
    }
    #avatar{
        width: 20px;
        height: 20px;
    }
    #images{
        column-gap: 10px;
    }
    #linepage{
        row-gap: 0;
        margin-top: 10px;
    } 
  
}
